<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhudi.irestaurant">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:launchMode="singleTask"
            android:label="activity_MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".home.activity.DateChoose"
            android:launchMode="singleInstance"
            android:label="activity_DateChoose"/>
        <activity
            android:name=".home.activity.SeatChoose"
            android:launchMode="singleInstance"
            android:label="activity_SeatChoose"/>
        <activity
            android:name=".mine.activity.LoginActivity"
            android:launchMode="singleInstance"
            android:label="LoginActivity"/>
        <activity
            android:name=".mine.activity.QuickLoginActivity"
            android:launchMode="singleInstance"
            android:label="QuickLoginActivity"/>
        <activity
            android:name=".mine.activity.RetrievePasswordActivity_1"
            android:launchMode="singleInstance"
            android:label="RetrievePasswordActivity_1"/>
        <activity
            android:name=".mine.activity.RetrievePasswordActivity_2"
            android:launchMode="singleInstance"
            android:label="RetrievePasswordActivity_2"/>
        <activity
            android:name=".mine.activity.RetrievePasswordActivity_3"
            android:launchMode="singleInstance"
            android:label="RetrievePasswordActivity_3"/>
        <activity
            android:name=".mine.activity.RetrievePasswordActivity_4"
            android:launchMode="singleInstance"
            android:label="RetrievePasswordActivity_4"/>
        <activity
            android:name=".mine.activity.RegisterActivity_1"
            android:launchMode="singleInstance"
            android:label="RegisterActivity_1"/>
        <activity
            android:name=".mine.activity.RegisterActivity_2"
            android:launchMode="singleInstance"
            android:label="RegisterActivity_2"/>
        <activity
            android:name=".mine.activity.RegisterActivity_3"
            android:launchMode="singleInstance"
            android:label="RegisterActivity_3"/>
        <activity
            android:name=".home.activity.FoodChooseActivity"
            android:launchMode="singleInstance"
            android:label="FoodChooseActivity"/>
        <activity
            android:name=".home.activity.FoodChooseEnsureActivity"
            android:launchMode="singleInstance"
            android:label="FoodChooseEnsureActivityoo"/>
        <activity
            android:name=".home.activity.PayResultActivity"
            android:launchMode="singleInstance"
            android:label="PayResultActivity"/>
        <activity
            android:name=".home.activity.SeatChooseEnsureActivity"
            android:launchMode="singleInstance"
            android:label="SeatChooseEnsureActivity"/>
        <activity
            android:name=".home.activity.HotReviewActivity"
            android:launchMode="singleInstance"
            android:label="HotReviewActivity"/>
        <activity
            android:name=".mine.activity.SetAccountNumberActivity"
            android:launchMode="singleInstance"
            android:label="SetAccountNumberActivity"/>
        <activity
            android:name=".mine.activity.SetPasswordActivity"
            android:launchMode="singleInstance"
            android:label="SetPasswordActivity"/>
        <activity
            android:name=".mine.activity.MyReviewActivity"
            android:launchMode="singleInstance"
            android:label="MyReviewActivity"/>
        <activity
            android:name=".mine.activity.MyCollectionsActivity"
            android:launchMode="singleInstance"
            android:label="MyCollectionsActivity"/>
        <activity
            android:name=".mine.activity.MyCouponActivity"
            android:launchMode="singleInstance"
            android:label="MyCouponActivity"/>
        <activity
            android:name=".mine.activity.HelpActivity"
            android:launchMode="singleInstance"
            android:label="HelpActivity"/>
        <activity
            android:name=".mine.activity.SetUpActivity"
            android:launchMode="singleInstance"
            android:label="SetUpActivity"/>
        <activity
            android:name=".mine.activity.CheckActivity"
            android:launchMode="singleInstance"
            android:label="CheckActivity"/>
    </application>

</manifest>
